/* reset */
html, body, h1, h2, h3, h4, h5, h6, div, dl, dt, dd, ul, ol, li, p, blockquote, pre, hr, figure, table, caption, th, td, form, fieldset, legend, input, button, textarea, menu { margin: 0; padding: 0; }
header, footer, section, article, aside, nav, hgroup, address, figure, figcaption, menu, details { display: block; }
table { border-collapse: collapse; border-spacing: 0; }
caption, th { text-align: left; font-weight: normal; }
html, body, fieldset, img, iframe, abbr { border: 0; }
i, cite, em, var, address, dfn { font-style: normal; }
[hidefocus], summary {
outline:0;
}
li { list-style: none; }
h1, h2, h3, h4, h5, h6, small { font-size: 100%; }
sup, sub { font-size: 83%; }
pre, code, kbd, samp { font-family: inherit; }
q:before, q:after { content: none; }
textarea { overflow: auto; resize: none; }
label, summary { cursor: default; }
a, button { cursor: pointer; }
h1, h2, h3, h4, h5, h6, em, strong, b { font-weight: bold; }
del, ins, u, s, a, a:hover { text-decoration: none; }
body, textarea, input, button, select, keygen, legend { font: 12px/1.14 arial, \5b8b\4f53; color: #333; outline: 0; }
body { background: #fff; }
a, a:hover { color: #333; }
/* function */
.f-cb:after, .f-cbli li:after { display: block; clear: both; visibility: hidden; height: 0; overflow: hidden; content: "."; }
.f-cb, .f-cbli li { zoom: 1; clear: both; }
.f-ib { display: inline-block; *display:inline;
*zoom:1;
}
.f-dn { display: none; }
.f-db { display: block; }
.f-fl { float: left; }
.f-fr { float: right; }
.f-pr { position: relative; }
.f-prz { position: relative; zoom: 1; }
.f-oh { overflow: hidden; }
.f-ff0 { font-family: arial, \5b8b\4f53; }
.f-ff1 { font-family: "Microsoft YaHei", \5fae\8f6f\96c5\9ed1, arial, \5b8b\4f53; }
.f-fs1 { font-size: 12px; }
.f-fs2 { font-size: 14px; }
.f-fwn { font-weight: normal; }
.f-fwb { font-weight: bold; }
.f-tal { text-align: left; }
.f-tac { text-align: center; }
.f-tar { text-align: right; }
.f-taj { text-align: justify; text-justify: inter-ideograph; }
.f-vam, .f-vama * { vertical-align: middle; }
.f-wsn { word-wrap: normal; white-space: nowrap; }
.f-pre { overflow: hidden; text-align: left; white-space: pre-wrap; word-wrap: break-word; word-break: break-all; }
.f-wwb { white-space: normal; word-wrap: break-word; word-break: break-all; }
.f-ti { overflow: hidden; text-indent: -30000px; }
.f-ti2 { text-indent: 2em; }
.f-lhn { line-height: normal; }
.f-tdu, .f-tdu:hover { text-decoration: underline; }
.f-tdn, .f-tdn:hover { text-decoration: none; }
.f-toe { overflow: hidden; word-wrap: normal; white-space: nowrap; text-overflow: ellipsis; }
.f-csp { cursor: pointer; }
.f-csd { cursor: default; }
.f-csh { cursor: help; }
.f-csm { cursor: move; }
.f-usn { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
.f-w50 { width:50%}
.f-sep5 { height:5px;}
.f-sep10 { height:10px;}
/* 标题文本-默认大小继承 */
.u-tt { font-family: 'microsoft yahei', sans-serif; }
.u-tt-sm { font-size: 12px; }
.u-tt-md { font-size: 14px; }
.u-tt-lg { font-size: 16px; }
.u-tt-xl { font-size: 18px; }
/* 标记样式 */
.u-label { display: inline-block;  *display: inline; *zoom: 1; padding: 1px 4px 2px; font-size: 10.152px; font-weight: bold; line-height: 15px; color: #ffffff; vertical-align: middle; white-space: nowrap; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #999999; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.u-label:hover { color: #ffffff; text-decoration: none; }
.u-label-important { background-color: #fe0000; }
.u-label-important:hover { background-color: #cb0000; }
.u-label-warning { background-color: #f89406; }
.u-label-warning:hover { background-color: #c67605; }
.u-label-success { background-color: #5cbc5c; }
.u-label-success:hover { background-color: #50b150; }
.u-label-info { background-color: #245c7b; }
.u-label-info:hover { background-color: #245c7b; }
.u-label-inverse { background-color: #333333; }
.u-label-inverse:hover { background-color: #1a1a1a; }
.u-badge { padding: 1px 9px 2px; font-size: 11.100000000000001px; font-weight: bold; white-space: nowrap; color: #ffffff; background-color: #999999; -webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; }
.u-badge:hover { color: #ffffff; text-decoration: none; cursor: pointer; }
.u-badge-error { background-color: #fe0000; }
.u-badge-error:hover { background-color: #cb0000; }
.u-badge-warning { background-color: #f89406; }
.u-badge-warning:hover { background-color: #c67605; }
.u-badge-success { background-color: #5cbc5c; }
.u-badge-success:hover { background-color: #50b150; }
.u-badge-info { background-color: #245c7b; }
.u-badge-info:hover { background-color: #245c7b; }
.u-badge-inverse { background-color: #333333; }
.u-badge-inverse:hover { background-color: #1a1a1a; }

/* 通用自定义按钮-默认蓝色 */
.buttons .u-btn{ margin-left:10px;}
.u-btn{display:inline-block;*display:inline;*zoom:1;*overflow:visible;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;padding:0 12px;height:28px;line-height:28px;border:1px solid #3e3e3e;  font-size:12px;letter-spacing:1px;word-spacing:normal;text-align:center;vertical-align:middle;cursor:pointer;box-shadow:inset 0 1px 0 rgba(255,255,255,0.2);text-shadow:0 -1px rgba(0,0,0,0.2);background:#245c7b;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#245c7b),to(#184a6a));background:-webkit-linear-gradient(#245c7b,#184a6a);background:-moz-linear-gradient(#245c7b,#184a6a);background:-ms-linear-gradient(#245c7b,#184a6a);background:linear-gradient(#245c7b,#184a6a);border-radius:3px;}
button.u-btn{*height:30px;_line-height:25px;}
.u-btn,.u-btn:hover{color:#fff;text-decoration:none;}
.u-btn:hover,.u-btn:focus{background:#2d6a89;}
.u-btn:active{box-shadow:inset 0 1px 4px rgba(0,0,0,0.2);}
.u-btn::-moz-focus-inner{padding:0;margin:0;border:0;}
.u-btn .btntxt{margin-right:3px;_vertical-align:middle;}
.u-btn .btnsel{display:inline-block;*display:inline;*zoom:1;width:0;height:0;overflow:hidden;vertical-align:middle;border-style:solid dashed dashed;border-width:4px 4px 0;border-color:rgba(255,255,255,0.8) transparent transparent;}
.u-btn:hover .btnsel,.u-btn:focus .btnsel{border-top-color:rgba(255,255,255,1);}

/* 较大 */
.u-btn-lg{padding:0 15px;height:36px;line-height:36px;font-size:18px;}
button.u-btn-lg{*height:38px;_line-height:33px;}
.u-btn-lg .btnsel{border-width:5px 5px 0;}
/* 较小 */
.u-btn-sm{padding:0 10px;height:22px;line-height:22px;}
button.u-btn-sm{*height:24px;_line-height:19px;}
/* 红色 */
.u-btn-c1{border-color:#9f161b;background:#de2027;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#ee232a),to(#cc1c23));background:-webkit-linear-gradient(#ee232a,#cc1c23);background:-moz-linear-gradient(#ee232a,#cc1c23);background:-ms-linear-gradient(#ee232a,#cc1c23);background:linear-gradient(#ee232a,#cc1c23);}
.u-btn-c1:hover,.u-btn-c1:focus{background:#cc1c23;}
/* 黄色 */
.u-btn-c2{border-color:#e1962d;background:#faa42b;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fbb149),to(#f8960a));background:-webkit-linear-gradient(#fbb149,#f8960a);background:-moz-linear-gradient(#fbb149,#f8960a);background:-ms-linear-gradient(#fbb149,#f8960a);background:linear-gradient(#fbb149,#f8960a);}
.u-btn-c2:hover,.u-btn-c2:focus{background:#f8960a;}
/* 绿色 */
.u-btn-c3{border-color:#52a552;background:#5cbc5c;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#68c668),to(#50b150));background:-webkit-linear-gradient(#68c668,#50b150);background:-moz-linear-gradient(#68c668,#50b150);background:-ms-linear-gradient(#68c668,#50b150);background:linear-gradient(#68c668,#50b150);}
.u-btn-c3:hover,.u-btn-c3:focus{background:#50b150;}
/* 灰色 */
.u-btn-c4{border-color:#d0d0d0;text-shadow:0 1px rgba(255,255,255,0.8);background:#f3f3f3;background:-webkit-gradient(linear,0% 0%,0% 100%,from(#fefefe),to(#e7e7e7));background:-webkit-linear-gradient(#fefefe,#e7e7e7);background:-moz-linear-gradient(#fefefe,#e7e7e7);background:-ms-linear-gradient(#fefefe,#e7e7e7);background:linear-gradient(#fefefe,#e7e7e7);}
.u-btn-c4,.u-btn-c4:hover{color:#333;}
.u-btn-c4:hover,.u-btn-c4:focus{background:#e7e7e7;}
.u-btn-c4 .btnsel{border-top-color:rgba(0,0,0,0.6);}
.u-btn-c4:hover .btnsel,.u-btn-c4:focus .btnsel{border-top-color:rgba(0,0,0,1);}

/* 通用自定义按钮组合 */
.u-btns{display:inline-block;*display:inline;*zoom:1;position:relative;padding-left:1px;}
.u-btns .u-btn{float:left;margin-left:-1px;border-radius:0;}
.u-btns .u-btn:first-child{border-radius:5px 0 0 5px;}
.u-btns .u-btn:nth-last-of-type(1){border-radius:0 5px 5px 0;}
.u-btns .u-btn:only-of-type{border-radius:5px;}

/* 数据表格-格边框 */
.m-table{table-layout:fixed;width:100%;line-height:1.5;}
.m-table th,.m-table td{padding:15px 0px; padding-left:10px;border:1px solid #eee;}
.m-table th{font-weight:bold;  font-size:12px; border:1px solid #eee; color:#666}
.m-table tbody tr:nth-child(2n){background:#fcfcfc;}
.m-table tbody tr:hover{background:#f5f5f5 !important;}
.m-table .cola{width:110px;}
.m-table .colb{width:200px;}
.m-table .operating { padding-right:10px;}
.m-table td a:hover { color:#069}

/* 数据表格-行边框*/
.m-table-row th,.m-table-row td{border-width:0 0 1px;}
/* 数据表格-圆角*/
.m-table-rds{border-collapse:separate;border:1px solid #ddd;border-width:0 1px 1px 0;border-radius:3px;}
.m-table-rds th,.m-table-rds td{border-width:1px 0 0 1px;}
.m-table-rds > :first-child > :first-child > :first-child{border-top-left-radius:5px;}
.m-table-rds > :first-child > :first-child > :last-child{border-top-right-radius:5px;}
.m-table-rds > :last-child > :last-child > :first-child{border-bottom-left-radius:5px;}
.m-table-rds > :last-child > :last-child > :last-child{border-bottom-right-radius:5px;}

/* 含标题和Tab的模块头部-默认不定宽 */
.m-hd{height:35px;line-height:35px;padding:1px 0 0;border-bottom:1px solid #ddd;}
.m-hd h2,.m-hd ul,.m-hd li{float:left;display:inline;}
.m-hd h2{margin:0 20px 0 0;font-size:14px;}
.m-hd ul{margin-left:-5px;}
.m-hd li{ position:relative;margin:-1px 0 0 5px;}
.m-hd li .icon { line-height:13px;}
.m-hd li a,.m-hd li a:hover{text-decoration:none;color:#666;}
.m-hd li a{float:left;padding:0 15px;border:1px solid #ddd;border-bottom:0;text-align:center;font-size:12px;background:#f8f8f8;}
.m-hd li a:hover{background:#fff;}
.m-hd li .z-crt {position:relative;padding-bottom:1px;margin-bottom:-1px;background:#fff;}
.m-hd .more{float:right;margin-left:10px;}
/* 有背景 */
.m-hd-bg{background:#f7f7f7; }
/* tab无缝 */
.m-hd-sl li{margin-left:-1px;}
.m-hd-sl li a{border-radius:0;}
.m-hd-sl li:first-child a{border-top-left-radius:5px;}
.m-hd-sl li:last-child a{border-top-right-radius:5px;}
/* tab居右 */
.m-hd-rt h2{margin-right:0;}
.m-hd-rt ul{float:right;}
/* tab较小 */
.m-hd-sm{height:25px;line-height:25px;}
.m-hd-sm h2{font-size:14px;}
.m-hd-sm li a{padding:0 10px;font-size:12px;}
/* tab定宽 */
.m-hd-fw li a{width:78px;padding:0;}

/* 简易表单 */
.m-form{line-height:29px;color:#555;}
.m-form legend{font-size:14px;font-weight:bold;}
.m-form .formitm{ line-height: 30px; padding-top: 10px; padding-right: 0; padding-bottom: 10px; padding-left: 0; border-bottom:1px solid #eee }
.m-form .formitm-1{padding-left:140px; padding-bottom:30px;}
.m-form .lab{float:left;width:120px;margin-right:-120px;text-align:right; color:#333}
.m-form .ipt{margin-left:140px;}
.m-form .ipt *{vertical-align:middle;}
.m-form .ipt a,.m-form .ipt a:hover{text-decoration:none;color:#3891eb;}
.m-form .ipt img{height:32px;margin:0 15px 0 5px;}
.m-form .ipt .domain{margin:0 0 0 5px;font-weight:bold;color:#777;}
.m-form .ipt p{height:22px;line-height:22px;color:#999;}
.m-form .txt {display: inline-block;  *display: inline; *zoom: 1; width:310px}
.m-form .load { padding-left:20px;}
.m-form .tip{padding-top:10px;}
.m-form .tip input{margin:0 5px 3px 0;}
.m-form select { padding:4px;  border: 1px solid #D9D9D9; border-top-color: #c0c0c0;}
/* 文本输入框 */
.u-ipt{ width: 300px; padding: 4px; height: 17px; border: 1px solid #D9D9D9; border-top-color: #c0c0c0; line-height: 17px; color: #333; background: #fff; margin:0px; }
/* 文本输入框-窄 */
.u-ipt-1{width:80px;}
.u-ipt-2{width:50px;}
.u-ipt-3{width:100px;}
/* 文本输入框-出错 */
.u-ipt-err{border-color:#c00 #e00 #e00; color:}
.u-itt {width: 300px; padding: 4px; height: 60px; border: 1px solid #D9D9D9; border-top-color: #c0c0c0; line-height: 17px; color: #333; background: #fff; }
.u-editor { width:100%; height:300px;}
.u-ico { display: inline-block;  *display: inline; *zoom: 1; background-color:#f5f5f5; padding: 4px; padding-left:10px; padding-right:10px; height: 17px; line-height:17px; border: 1px solid #D9D9D9; border-left:0px; }
.u-ico .icon {font-size:13px; position:relative; top:-2px; }
.inplace_field { padding: 4px; border: 1px solid #D9D9D9; border-top-color: #c0c0c0; line-height: 17px; color: #333; background: #fff;  margin-right:10px; width:auto}
.m-form .u-btn { margin-right:10px;}
.u-editor-tool { background-color: #ebeff2; padding: 5px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px; border-right-style: solid; border-bottom-style: solid; border-left-style: solid; border-right-color: #cbd2d8; border-bottom-color: #cbd2d8; border-left-color: #cbd2d8; }

/* 普通翻页器-默认居中 */
.m-page{text-align:center;line-height:32px;font-size:0;letter-spacing:-0.307em;word-wrap:normal;white-space:nowrap;color:#999;}
.m-page a,.m-page i{display:inline-block;vertical-align:top;padding:0 12px;margin-left:-1px;border:1px solid #ddd;font-size:12px;letter-spacing:normal;text-shadow:0 1px #fff;background:#fff;-webkit-transition:background-color 0.3s;-moz-transition:background-color 0.3s;-ms-transition:background-color 0.3s;transition:background-color 0.3s;}
.m-page a,.m-page a:hover{text-decoration:none;color:#39c;}
.m-page a:first-child{margin-left:0;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.m-page a:last-child{margin-right:0;border-top-right-radius:5px;border-bottom-right-radius:5px;}
.m-page a.pageprv:before,.m-page a.pagenxt:after{font-weight:bold;font-family:\5b8b\4f53;vertical-align:top;}
.m-page a.pageprv:before{margin-right:3px;content:'\3C';}
.m-page a.pagenxt:after{margin-left:3px;content:'\3E';}
.m-page a:hover{background:#f5f5f5;}
.m-page a:active{background:#f0f0f0;}
.m-page a.z-crt,.m-page a.z-crt:hover,.m-page a.z-crt:active{cursor:default;color:#999;background:#f5f5f5;}
.m-page a.z-dis,.m-page a.z-dis:hover,.m-page a.z-dis:active{cursor:default;color:#ccc;background:#fff;}
/* 居左 */
.m-page-lt{text-align:left;}
/* 居右 */
.m-page-rt{text-align:right;}
/* 较小 */
.m-page-sm{line-height:22px;}
.m-page-sm a,.m-page-sm i{padding:0 8px;}
/* 分离 */
.m-page-sr a,.m-page-sr i{margin:0 3px;border-radius:5px;}
.m-page-sr i{border:0;}
.m-page-sr a:first-child,.m-page-sr a:last-child{border-radius:5px;}

/* 操作型弹出浮层-默认居中 */
.m-layer,.m-layer .lymask{top:0;left:0;width:100%;height:100%;}
.m-layer{display:none;position:fixed;_position:absolute;z-index:999;}
.m-layer .lymask{ position: absolute; opacity: 0.3; filter: alpha(opacity=30); background-color: #E4EAF1; }
.m-layer .lytable{table-layout:fixed;width:100%;height:100%;}
.m-layer .lytd{width:100%;height:100%;vertical-align:middle;}
.m-layer .lywrap{position:relative;width:300px;margin:0 auto;border: 1px solid #A5A5A5;box-shadow: 0 0 5px #999999 }
.m-layer .lytt{position:relative;padding:0 10px;height:30px;margin:0 0 -1px;line-height:30px;border-bottom: 1px solid #E7E7E7;border-top: 1px solid #FFFFFF;background:#F6F6F6;}
.m-layer .lytt h2{float:left;font-size:14px;}
.m-layer .lyclose a{float:right;font-size:20px;_font-size:14px;color: #A9A9A9;cursor:pointer;}
.m-layer .lyclose a:hover{color:#106BAB;}
.m-layer .lyct:last-child,.m-layer .lybt{}
.m-layer .lyct:first-child{}
.m-layer .lyct{padding:20px;background:#fff;}
.m-layer .lybt{padding: 8px;margin:-1px 0 0;border-top: 1px solid #E9E9E9;background:#FFFFFF;}
.m-layer .lyother{float:left;color:#999;}
.m-layer .lybtns{float:right;}
.m-layer .lybtns button{float:left;margin-left:10px;}
/* 显示 */
.m-layer-show{display:block;}


/* 水平进度条-默认蓝色 */
.u-progress{width:100%;height:16px;overflow:hidden;background:#f7f7f7;}
.u-progress .pgtrack,.u-progress .pgbar{display:block;overflow:hidden;}
.u-progress .pgtrack{height:10px;border-width:1px;border-style:solid;border-color:#ddd #eee #f5f5f5;}
.u-progress .pgtrack:nth-child(1){display:none;}
.u-progress .pgbar{width:100%;height:100%;margin-top:-12px;background: #245c7b;-webkit-transition:width 0.5s linear;-moz-transition:width 0.5s linear;-ms-transition:width 0.5s linear;transition:width 0.5s linear;}
.u-progress .pgbar:nth-last-child(1){margin-top:0;}
/* 较佳，绿色 */
.u-progress-c1 .pgbar{background:#5cbc5c;}
/* 中等，黄色 */
.u-progress-c2 .pgbar{background:#f89406;}
/* 较差，红色 */
.u-progress-c3 .pgbar{background:#fe0000;}
/* 灰色 */
.u-progress-c4 .pgbar{background:#dddddd;}

/* 组图上传 */
.u-images {}
.u-images li { float:left; width:130px; height:180px; background-color:#F5F5F5; border:1px solid #D9D9D9; padding:5px; margin-right:10px; margin-top:10px;}
.u-images li:hover { background-color:#FFE6D9; border:1px solid #FFCD9B}
.u-images li:hover img { border:1px solid #FFCD9B }
.u-images li img { width:120px !important; height:100px !important;  border:1px solid #D9D9D9; }
.u-images li div { padding-top:5px;}