<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jx.tour.mapper.SpecialtyMapper" >
  <resultMap id="BaseResultMap" type="jx.tour.pojo.Specialty" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="tNum" property="tnum" jdbcType="INTEGER" />
    <result column="tCategory" property="tcategory" jdbcType="VARCHAR" />
    <result column="tName" property="tname" jdbcType="VARCHAR" />
    <result column="tPrice" property="tprice" jdbcType="DOUBLE" />
    <result column="tPic" property="tpic" jdbcType="VARCHAR" />
    <result column="pic2" property="pic2" jdbcType="VARCHAR" />
    <result column="pic3" property="pic3" jdbcType="VARCHAR" />
    <result column="stocknum" property="stocknum" jdbcType="INTEGER" />
    <result column="stage" property="stage" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="jx.tour.pojo.Specialty" extends="BaseResultMap" >
    <result column="tDescrible" property="tdescrible" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tNum, tCategory, tName, tPrice, tPic, pic2, pic3, stocknum, stage
  </sql>
  <sql id="Blob_Column_List" >
    tDescrible
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="jx.tour.pojo.SpecialtyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from specialty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="jx.tour.pojo.SpecialtyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from specialty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from specialty
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from specialty
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="jx.tour.pojo.SpecialtyExample" >
    delete from specialty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jx.tour.pojo.Specialty" >
    insert into specialty (id, tNum, tCategory, 
      tName, tPrice, tPic, 
      pic2, pic3, stocknum, 
      stage, tDescrible)
    values (#{id,jdbcType=INTEGER}, #{tnum,jdbcType=INTEGER}, #{tcategory,jdbcType=VARCHAR}, 
      #{tname,jdbcType=VARCHAR}, #{tprice,jdbcType=DOUBLE}, #{tpic,jdbcType=VARCHAR}, 
      #{pic2,jdbcType=VARCHAR}, #{pic3,jdbcType=VARCHAR}, #{stocknum,jdbcType=INTEGER}, 
      #{stage,jdbcType=INTEGER}, #{tdescrible,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="jx.tour.pojo.Specialty" >
    insert into specialty
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tnum != null" >
        tNum,
      </if>
      <if test="tcategory != null" >
        tCategory,
      </if>
      <if test="tname != null" >
        tName,
      </if>
      <if test="tprice != null" >
        tPrice,
      </if>
      <if test="tpic != null" >
        tPic,
      </if>
      <if test="pic2 != null" >
        pic2,
      </if>
      <if test="pic3 != null" >
        pic3,
      </if>
      <if test="stocknum != null" >
        stocknum,
      </if>
      <if test="stage != null" >
        stage,
      </if>
      <if test="tdescrible != null" >
        tDescrible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tnum != null" >
        #{tnum,jdbcType=INTEGER},
      </if>
      <if test="tcategory != null" >
        #{tcategory,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tprice != null" >
        #{tprice,jdbcType=DOUBLE},
      </if>
      <if test="tpic != null" >
        #{tpic,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null" >
        #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null" >
        #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="stocknum != null" >
        #{stocknum,jdbcType=INTEGER},
      </if>
      <if test="stage != null" >
        #{stage,jdbcType=INTEGER},
      </if>
      <if test="tdescrible != null" >
        #{tdescrible,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jx.tour.pojo.SpecialtyExample" resultType="java.lang.Integer" >
    select count(*) from specialty
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update specialty
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.tnum != null" >
        tNum = #{record.tnum,jdbcType=INTEGER},
      </if>
      <if test="record.tcategory != null" >
        tCategory = #{record.tcategory,jdbcType=VARCHAR},
      </if>
      <if test="record.tname != null" >
        tName = #{record.tname,jdbcType=VARCHAR},
      </if>
      <if test="record.tprice != null" >
        tPrice = #{record.tprice,jdbcType=DOUBLE},
      </if>
      <if test="record.tpic != null" >
        tPic = #{record.tpic,jdbcType=VARCHAR},
      </if>
      <if test="record.pic2 != null" >
        pic2 = #{record.pic2,jdbcType=VARCHAR},
      </if>
      <if test="record.pic3 != null" >
        pic3 = #{record.pic3,jdbcType=VARCHAR},
      </if>
      <if test="record.stocknum != null" >
        stocknum = #{record.stocknum,jdbcType=INTEGER},
      </if>
      <if test="record.stage != null" >
        stage = #{record.stage,jdbcType=INTEGER},
      </if>
      <if test="record.tdescrible != null" >
        tDescrible = #{record.tdescrible,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update specialty
    set id = #{record.id,jdbcType=INTEGER},
      tNum = #{record.tnum,jdbcType=INTEGER},
      tCategory = #{record.tcategory,jdbcType=VARCHAR},
      tName = #{record.tname,jdbcType=VARCHAR},
      tPrice = #{record.tprice,jdbcType=DOUBLE},
      tPic = #{record.tpic,jdbcType=VARCHAR},
      pic2 = #{record.pic2,jdbcType=VARCHAR},
      pic3 = #{record.pic3,jdbcType=VARCHAR},
      stocknum = #{record.stocknum,jdbcType=INTEGER},
      stage = #{record.stage,jdbcType=INTEGER},
      tDescrible = #{record.tdescrible,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update specialty
    set id = #{record.id,jdbcType=INTEGER},
      tNum = #{record.tnum,jdbcType=INTEGER},
      tCategory = #{record.tcategory,jdbcType=VARCHAR},
      tName = #{record.tname,jdbcType=VARCHAR},
      tPrice = #{record.tprice,jdbcType=DOUBLE},
      tPic = #{record.tpic,jdbcType=VARCHAR},
      pic2 = #{record.pic2,jdbcType=VARCHAR},
      pic3 = #{record.pic3,jdbcType=VARCHAR},
      stocknum = #{record.stocknum,jdbcType=INTEGER},
      stage = #{record.stage,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jx.tour.pojo.Specialty" >
    update specialty
    <set >
      <if test="tnum != null" >
        tNum = #{tnum,jdbcType=INTEGER},
      </if>
      <if test="tcategory != null" >
        tCategory = #{tcategory,jdbcType=VARCHAR},
      </if>
      <if test="tname != null" >
        tName = #{tname,jdbcType=VARCHAR},
      </if>
      <if test="tprice != null" >
        tPrice = #{tprice,jdbcType=DOUBLE},
      </if>
      <if test="tpic != null" >
        tPic = #{tpic,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null" >
        pic2 = #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null" >
        pic3 = #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="stocknum != null" >
        stocknum = #{stocknum,jdbcType=INTEGER},
      </if>
      <if test="stage != null" >
        stage = #{stage,jdbcType=INTEGER},
      </if>
      <if test="tdescrible != null" >
        tDescrible = #{tdescrible,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="jx.tour.pojo.Specialty" >
    update specialty
    set tNum = #{tnum,jdbcType=INTEGER},
      tCategory = #{tcategory,jdbcType=VARCHAR},
      tName = #{tname,jdbcType=VARCHAR},
      tPrice = #{tprice,jdbcType=DOUBLE},
      tPic = #{tpic,jdbcType=VARCHAR},
      pic2 = #{pic2,jdbcType=VARCHAR},
      pic3 = #{pic3,jdbcType=VARCHAR},
      stocknum = #{stocknum,jdbcType=INTEGER},
      stage = #{stage,jdbcType=INTEGER},
      tDescrible = #{tdescrible,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="jx.tour.pojo.Specialty" >
    update specialty
    set tNum = #{tnum,jdbcType=INTEGER},
      tCategory = #{tcategory,jdbcType=VARCHAR},
      tName = #{tname,jdbcType=VARCHAR},
      tPrice = #{tprice,jdbcType=DOUBLE},
      tPic = #{tpic,jdbcType=VARCHAR},
      pic2 = #{pic2,jdbcType=VARCHAR},
      pic3 = #{pic3,jdbcType=VARCHAR},
      stocknum = #{stocknum,jdbcType=INTEGER},
      stage = #{stage,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>