<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="jx.tour.mapper.AreaMapper" >
  <resultMap id="BaseResultMap" type="jx.tour.pojo.Area" >
    <id column="aid" property="aid" jdbcType="INTEGER" />
    <result column="areaNum" property="areanum" jdbcType="INTEGER" />
    <result column="areaName" property="areaname" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="jx.tour.pojo.Area" extends="BaseResultMap" >
    <result column="areaDescrible" property="areadescrible" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    aid, areaNum, areaName
  </sql>
  <sql id="Blob_Column_List" >
    areaDescrible
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="jx.tour.pojo.AreaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="jx.tour.pojo.AreaExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from area
    where aid = #{aid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where aid = #{aid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="jx.tour.pojo.AreaExample" >
    delete from area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="jx.tour.pojo.Area" >
    insert into area (aid, areaNum, areaName, 
      areaDescrible)
    values (#{aid,jdbcType=INTEGER}, #{areanum,jdbcType=INTEGER}, #{areaname,jdbcType=VARCHAR}, 
      #{areadescrible,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="jx.tour.pojo.Area" >
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="areanum != null" >
        areaNum,
      </if>
      <if test="areaname != null" >
        areaName,
      </if>
      <if test="areadescrible != null" >
        areaDescrible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=INTEGER},
      </if>
      <if test="areanum != null" >
        #{areanum,jdbcType=INTEGER},
      </if>
      <if test="areaname != null" >
        #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="areadescrible != null" >
        #{areadescrible,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="jx.tour.pojo.AreaExample" resultType="java.lang.Integer" >
    select count(*) from area
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update area
    <set >
      <if test="record.aid != null" >
        aid = #{record.aid,jdbcType=INTEGER},
      </if>
      <if test="record.areanum != null" >
        areaNum = #{record.areanum,jdbcType=INTEGER},
      </if>
      <if test="record.areaname != null" >
        areaName = #{record.areaname,jdbcType=VARCHAR},
      </if>
      <if test="record.areadescrible != null" >
        areaDescrible = #{record.areadescrible,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update area
    set aid = #{record.aid,jdbcType=INTEGER},
      areaNum = #{record.areanum,jdbcType=INTEGER},
      areaName = #{record.areaname,jdbcType=VARCHAR},
      areaDescrible = #{record.areadescrible,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update area
    set aid = #{record.aid,jdbcType=INTEGER},
      areaNum = #{record.areanum,jdbcType=INTEGER},
      areaName = #{record.areaname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="jx.tour.pojo.Area" >
    update area
    <set >
      <if test="areanum != null" >
        areaNum = #{areanum,jdbcType=INTEGER},
      </if>
      <if test="areaname != null" >
        areaName = #{areaname,jdbcType=VARCHAR},
      </if>
      <if test="areadescrible != null" >
        areaDescrible = #{areadescrible,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="jx.tour.pojo.Area" >
    update area
    set areaNum = #{areanum,jdbcType=INTEGER},
      areaName = #{areaname,jdbcType=VARCHAR},
      areaDescrible = #{areadescrible,jdbcType=LONGVARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="jx.tour.pojo.Area" >
    update area
    set areaNum = #{areanum,jdbcType=INTEGER},
      areaName = #{areaname,jdbcType=VARCHAR}
    where aid = #{aid,jdbcType=INTEGER}
  </update>
</mapper>